<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
<nav>
    {# Если пользователь не авторизован, подключится форма авторизации #}
    {% if isAuth == false %}
        {% include 'blocks/login_form.twig' %}
    {% endif %}

    {# Вывод сообщения о статусе авторизации (успешно или нет) #}
    {% if message %}
        <p style="color: #d92727">{{ message }}</p>
    {% endif %}

    {% block menu %}
        {% if isAuth %}
            <p>Здравствуйте, {{ userName }}</p>
        {% endif %}
        <ul>
            <li><a href="/">Главная</a></li>
            <li><a href="/catalog">Каталог</a></li>
            <li><a href="/cart">Корзина <span id="cart-count"> ({{ cartCount }}) </span></a></li>
            {% if isAuth %}
                <li><a href="/auth/logout">Выйти [x]</a></li>
            {% endif %}
        </ul>
    {% endblock %}

</nav>
{% block content %}
{% endblock %}

<script src="/js/ajax-buy.js"></script>
</body>
</html>