{% extends 'layouts/main.twig' %}
{% block content %}
    {% if cartProducts %}
        <div class="products">
            {% for product in cartProducts %}
                <div class="product-item">
                    <img class="product-image" src="#" alt="">
                    <a href="catalog/card/?id={{ product.id }}">{{ product.name }}</a><br>
                    <span class="price">{{ product.price }} руб.</span><br>
                    <span class="count">{{ product.product_count }} шт.</span>
                    <p class="description">{{ product.description }}</p>
                    <form method="post" action="/cart/delete">
                        <input type="text" name="product_id" value="{{ product.id }}" hidden>
                        <input type="submit" value="Удалить">
                    </form>
                </div>
                <hr>
            {% endfor %}
        </div>
    {% else %}
        <h2>Корзина пуста!</h2>
    {% endif %}
{% endblock %}