{% extends "layouts/main.twig" %}

{% block content %}
    <div class="products">
        {% for product in products %}
            <div class="product-item">
                <img class="product-image" src="#" alt="">
                <a href="catalog/card/?id={{ product.id }}">{{ product.name }}</a>
                <span class="price">{{ product.price }}</span>
                <p class="description">{{ product.description }}</p>
                 <button class="buy-btn" data-id="{{ product.id }}">Купить</button>

{#                <form method="post" action="/cart/add">#}
{#                    <input type="text" name="product_id" value="{{ product.id }}" hidden>#}
{#                    <input type="submit" value="Купить">#}
{#                </form>#}
            </div>
        {% endfor %}
    </div>
{% endblock %}

