{% extends "layouts/main.twig" %}

{% block content %}
<div class="product_card">
    <h1>{{ product.name }}</h1>
    <img src="#" alt="">
    <span class="product-price">{{ product.price }}</span>
    <p class="product-description">{{ product.description }}</p>
    <button class="buy-btn" data-id="{{ product.id }}">Купить</button>

{#    <form method="post" action="/cart/add">#}
{#        <input type="text" name="product_id" value="{{ product.id }}" hidden>#}
{#        <input type="submit" value="Купить">#}
{#    </form></div>#}
{% endblock %}