<div class="login">
    <form method="post" action="auth/login">
        <input type="text" placeholder="Введите ваш логин" name="login">
        <input type="text" placeholder="Введите ваш пароль" name="password">
        <input type="submit" class="btn btn-success" value="Войти"> <br>
        <label for="save">Запомнить пароль</label>
        <input id="save" type="checkbox" name="save">
    </form>
</div>